:root {
    --team-general-y: 55px;
    --team-name-x: 1186px;
    --team-pfp-x: 755px;
    --team-background-x: 459px;
    --team-point-container-x: 1172px;
    --score-difference-x: 1011px;
}

/* Whole Page */
.main, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    font-family: "Alan Sans", sans-serif;
    background-image: url("static/background.png")
}

/* Logo */
.logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/* Round Name */
.round-name {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: black;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
    text-align: center;
    background-color: white;
    padding: 0px 5px;
    height: 20px;
    line-height: 20px;
}

/* Team PFP */
.team-pfp { top: var(--team-general-y); }
.team-background { top: var(--team-general-y); }
.team-name { top: var(--team-general-y); }
.team-point-container { top: calc(var(--team-general-y) + 27px);}

/* Accuracy  Difference */
.accuracy-difference {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    color: black;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
    font-variant-numeric: tabular-nums;
    background-color: white;
    width: 100px;
    text-align: center;
    line-height: 20px;
}

/* Score Bar */
.score-bar {
    position: absolute;
    top: 859px;
    background-color: white;
    width: 200px;
    height: 10px;
}

.score-bar-left {
    border-radius: 5px 0 0 5px;
    right: 50%;
}

.score-bar-right {
    border-radius: 0 5px 5px 0;
    left: 50%;
}

.score-difference {
    position: absolute;
    top: 864px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: "Alan Sans", sans-serif;
    filter: drop-shadow(0.675px 2.923px 1.5px rgba(0 0 0 / 41%));
}
.score-difference-left { right: var(--score-difference-x); }
.score-difference-right { left: var(--score-difference-x); }