:root {
    --team-general-y: 55px;
    --team-name-x: 1186px;
    --team-pfp-x: 755px;
    --team-background-x: 459px;
    --team-point-container-x: 1172px;
}

/* Whole Page */
.main, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    font-family: "Alan Sans", sans-serif;
    background-image: url("static/background.png")
}

/* Logo */
.logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/* Round Name */
.round-name {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: black;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
    text-align: center;
    background-color: white;
    padding: 0px 5px;
    height: 20px;
    line-height: 20px;
}

/* Team PFP */
.team-pfp { top: var(--team-general-y); }
.team-background { top: var(--team-general-y); }
.team-name { top: var(--team-general-y); }
.team-point-container { top: calc(var(--team-general-y) + 27px);}

/* Accuracy  Difference */
.accuracy-difference {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    color: black;
    font-weight: 800;
    font-family: "Alan Sans", sans-serif;
    font-variant-numeric: tabular-nums;
    background-color: white;
    width: 100px;
    text-align: center;
    line-height: 20px;
}